.container{
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'bebas neue';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh;
    grid-template-areas:"header header header"
                        "main middle right"
                        "main middle right"
                        "main middle right"
                        "footer footer footer"
}

body{
    margin:0;
    max-height: auto;
    display: inline-block;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
   
}

.header{
  background-color: #6e9dbf;
  color:#ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: x-large;
  font-style: bold;
  grid-area: header;
  list-style: none;
  padding-left:10px;
  padding-right:20px;
}

.main{
    display: flex;
    Justify-content: center;
    Align-items: center;
    Flex-wrap: wrap;
    background-color: #bbdbf2;
    color: black;
    font-size: large;
    grid-area: main;
}

.main h1{
    font-weight: normal;
    margin: 0e;
    justify-content: space-between;
}

.middle{
    background-color: #ffffff;
    color:#1E3D58;
    display:block;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 80%;
    max-width: 1000px;
    font-size: large;
    grid-area: middle;
}

.middle h1{
    font-size: x-large;
}

img{
    height: 50%;
    width:80%;
}

.right{

    padding: 30px;
    background-color: #bbdbf2;
    max-width: 1000px;
    font-size: large;
    grid-area: right;
}

.right h1{
    font-size: x-large;
    
}

.footer{
    background-color: #6e9dbf;
    color: white;
    display: flex;
    max-width: 1500px;
    padding-left: 5vw;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-area: footer;
}

/*page will reformat at 780 pixels*/

@media only screen and (max-width: 780px)   {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 40vh 40vh 30vh 40vh;
        grid-template-areas: "header"
                             "main"
                             "middle"
                             "right"
                             "footer"
    }


}

.navbutton{
    background-color: #cccccc;
    color: black;
    padding: 12px 8px;
    font-size: 1.18rem;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    display:block;
    
}