.container{
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 15vh 50vh 33vh;
    grid-row-gap: 1em;
    height: 100vh;
    }
    
.body{
    margin:0;
    max-height: auto;
    max-width: 600px;
    display: inline-block;
}
    
.header{
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2; 
    background-color: #cccccc
    ;
    color: #000000;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 50000px;
    font-family: 'Bebas Neue';
    font-size: xx-large;
    text-align: center;
    list-style: none;
}
.navbutton{
    background-color: #6e9dbf;
    color: black;
    border: none;
    padding: 12px 8px;
    font-size: 1.18rem;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.navbutton:hover {
background-color: #3c78d8;
}

.main {
    text-align: center;
    background-color: #6e9dbf;
    
}




.footer{
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2; 
    background-color: #cccccc;
    color: white;
    padding: 10vw 20vw;
    padding-top: 2%;
}

.footer h1{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.footer h2{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.footer h3{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.footer h4{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.footer h5{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.footer h6{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue';
}